body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
    font-size: large;
}

.navbar {
    transition: background-color 0.3s ease;
}

.navbar-dark.bg-dark:hover {
    background-color: #495057;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}
.text-background {
    background-color: rgba(0, 0, 0, 0.1); /* Fundo semi-transparente */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
}


/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .container {
        padding: 10px;
    }
}

/* Animações */
.navbar-toggler {
    transition: transform 0.3s ease;
}

.navbar-toggler.collapsed {
    transform: rotate(0);
}

.navbar-toggler:not(.collapsed) {
    transform: rotate(90deg);
}
